<!DOCTYPE html>
<title>{% block title %}{% endblock %} - todo list</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
<nav>
    <h1>todo list</h1>
    <ul>
        {% if g.user %}
            <li><span>ログインユーザー : {{ g.user['username']}}</span>
            <li><a href="{{ url_for('authorize.logout')}}">ログアウト</a>
        {% else %}
        <li><a href="{{ url_for('authorize.register') }}">ユーザー登録</a>
        <li><a href="{{ url_for('authorize.login') }}">ログイン</a>
        {%endif%}
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
    <footer>
        {% block footer %}{% endblock %}
    </footer>
</section>

