{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <div class="login_body">
            <!--ログイン　ユーザー名-->
            <div class="login_username">
                <label class="login_username_label" for="username">Username</label>
                <input class="login_username_input" name="username" id="username" required>    
            </div>

            <!--ログイン　パスワード-->
            <div class="login_password">
                <label class="login_password_label"for="password">Password</label>
                <input class="login_password_input" type="password" name="password" id="password" required>
            </div>

            <!--ログイン　ボタン-->
            <input class="login_button_submit" type="submit" value="Log In">
        </div>
    </form>
{% endblock %}