{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %}ユーザー登録{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <div class="register_body">
            <!--登録　ユーザー名-->
            <div class="register_username">
                <label class="register_username_label" for="username">Username</label>
                <input class="register_username_input" name="username" id="username" required>    
            </div>

            <!--登録　パスワード-->
            <div class="register_password">
                <label class="register_password_label"for="password">Password</label>
                <input class="register_password_input" type="password" name="password" id="password" required>
            </div>

            <!--登録　ボタン-->
            <input class="register_button_submit" type="submit" value="登録">
        </div>
    </form>
{% endblock %}