{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Edit "{{ item['item_name'] }}"{% endblock %}</h1>
{% endblock %}


{% block content %}
        <form method="post">
            <div class='edit_body'>

                <!--アイテム名-->
                <div class='item_name'>
                    <label class='item_name_label' for="item">Item</label>
                    <input class='item_name_input' name="item_name" id="item_name"
                        value="{{ request.form['item_name'] or item['item_name'] }}" required>
                </div>

                <!--締め切り-->
                <div class='deadline'>
                    <label class='deadline_label' for="deadline">Deadline</label>
                    <input class='deadline_input' type="date" name="deadline" id="deadline"
                        value="{{ request.form['deadline'] or item['deadline'] }}">
                </div>

                <!--ステータス-->
                <div class='status'>
                    <label class="edit_status_label" for="item_status">Status</label>
                    <div class="edit_status">
                        <span class="not_yet">
                            <input type="radio" name="item_status" 
                                id="item_status" value="0" checked="checked" required>未
                        </span>
                        <span class="done">
                            <input type="radio" name="item_status" 
                                id="item_status" value="1" required>済
                        </span>
                    </div>
                </div>

                <!--　SaveボタンとDeleteボタン　-->
                <div>
                    <input type="submit" value="Save">
                </div>
                <div>
                    <form action="{{ url_for('todo.delete', id=item['id']) }}" method="post">
                        <input class="danger" type="submit" value="Delete" 
                            onclick="return confirm('Are you sure?');">
                    </form>
                </div>
            </div>
        </form>
{% endblock %}