{% extends 'base.html' %}

{% block header %}
    <!--ログインしていれば New をクリックして新規投稿のリンクを表示-->
    {% if g.user %}
    <div class="New_Button"><a href="{{ url_for('todo.add_item') }}">Add a new tusk</a></div>
    {% endif %}

    <!--列タイトルの表示-->
    <div class="list_header">
        <div class="list_header_elements">items</div>
        <div class="list_header_elements">deadline</div>
        <div class="list_header_elements">item_status</div>
        <div class="list_header_elements"></div>
    </div>
{% endblock %}

{% block content %}
    <!--投稿の数だけ繰り返す-->
    {% for item in items %}

        <!--コンテナの作成-->
        <div class="listed_items">
            <!--item名-->
            <div class="list_elements">{{ item['item_name'] }}</div>
            <!--deadline-->
            <div class="list_elements">{{ item['deadline'] }}</div>
            <!--item_status-->
            {% set status = item['item_status'] %}
            {% if status %}
                {% if status==0 %}
                    <div class="list_elements" name="item_status_name" id="item_status_id">未</div>
                {% else %}
                    <div class="list_elements" name="item_status_name" id="item_status_id">済</div>
                {% endif %}
            {% endif %}
            <!--ログインユーザーが投稿者であれば Edit を表示する-->
            <!-- Edit をクリックしたら id を取得してアップデートビューに渡す-->
            <a class="list_elements" href="{{ url_for('todo.update', id=item['id']) }}">Edit</a>
        </div>

        <!--最後の投稿でなければ横罫線を引く-->
        {% if not loop.last %}
            <hr>
        {% endif %}

    {% endfor %}
{% endblock %}
